/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Staatliches&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #fff; }

.container {
  max-width: 1500px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase; }

#header-home {
  background-image: linear-gradient(to bottom, rgba(19, 19, 19, 0.215), rgba(0, 0, 0, 0.592)), url("../IMG/showcase.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff; }
  #header-home .header-content {
    color: #fff;
    text-align: center;
    padding: 10%; }
    #header-home .header-content span {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1rem;
      margin-bottom: 4rem; }
    #header-home .header-content h1 {
      font-size: 3rem;
      line-height: 1.2rem;
      margin-top: 2rem;
      margin-bottom: 4rem; }
    #header-home .header-content .lead {
      font-size: 2rem; }

#header-inner {
  background-image: linear-gradient(to bottom, rgba(19, 19, 19, 0.215), rgba(0, 0, 0, 0.592)), url("../IMG/showcase.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 6.5rem;
  color: #fff;
  border-bottom: 3px solid #ffbc00; }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #main-nav a:hover {
      border-color: #ccc; }
    #main-nav a.current {
      border-color: #ffbc00; }

#home-section-A .specials {
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr); }
  #home-section-A .specials .fas {
    color: #ffbc00;
    padding-bottom: 0.4rem; }

#home-section-B .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  #home-section-B .stats li {
    line-height: 2; }
    #home-section-B .stats li.stats-title {
      font-size: 1.5rem; }
    #home-section-B .stats li.stats-number {
      font-size: 2rem;
      font-weight: bold; }
  #home-section-B .stats div {
    padding: 3rem 0; }
    #home-section-B .stats div:nth-child(odd) {
      background: #f4f4f4; }
    #home-section-B .stats div:nth-child(even) {
      background: #ccc; }

#home-section-C .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  text-align: center; }
  #home-section-C .process-icon {
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    width: 8.5rem;
    height: 8.5rem;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s; }
    #home-section-C .process-icon:hover {
      background-color: #ffbc00;
      width: 9rem;
      height: 9rem; }
      #home-section-C .process-icon:hover .process-step {
        background-color: #333; }
  #home-section-C .process-step {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    background: #ffbc00;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s; }

#about-section-A .about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  gap: 1.2rem; }

#about-section-A .bio-image {
  grid-area: bioimage;
  border-bottom: 5px solid #ffbc00; }

#about-section-A .bio {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.5rem;
  font-size: 1.2rem; }

#about-section-A .award-1 {
  grid-area: aw1; }

#about-section-A .award-2 {
  grid-area: aw2; }

#about-section-A .award-3 {
  grid-area: aw3; }

#about-section-A .award-1 .fas,
#about-section-A .award-2 .fas,
#about-section-A .award-3 .fas {
  color: #ffbc00;
  margin: 1rem; }

#main-footer {
  background-color: #333;
  color: #fff;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social-media .fab {
      margin-right: 1rem;
      border: 2px solid #fff;
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      line-height: 1.5rem;
      text-align: center;
      padding: 0.5rem;
      transition: all 1s; }
      #main-footer .footer-content .social-media .fab:hover {
        background-color: #ffbc00;
        cursor: pointer; }

h2,
h3,
h4 {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.lead {
  font-size: 1.3rem;
  margin: 2rem 0; }

.text-center {
  text-align: center; }

.section-title {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  font-weight: bold;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #ffbc00; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbc00; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.py-5 {
  padding: 5rem 0; }

.px-1 {
  padding: 0 1rem; }

.px-2 {
  padding: 0 2rem; }

.px-3 {
  padding: 0 3rem; }

.px-4 {
  padding: 0 4rem; }

.px-5 {
  padding: 0 5rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.p-5 {
  padding: 5rem; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.my-5 {
  margin: 5rem 0; }

.mx-1 {
  margin: 0 1rem; }

.mx-2 {
  margin: 0 2rem; }

.mx-3 {
  margin: 0 3rem; }

.mx-4 {
  margin: 0 4rem; }

.mx-5 {
  margin: 0 5rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

.bottom-line {
  height: 5px;
  width: 10rem;
  background-color: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto; }

.bg-primary {
  background-color: #ffbc00;
  color: #fff; }

.bg-dark {
  background-color: #333;
  color: #fff; }

.bg-light {
  background-color: #f4f4f4;
  color: #000; }

.bg-medium {
  background-color: #ccc;
  color: #000; }
