$primary-Font: "Poppins", sans-serif;
$Secondary-Font: "Montserrat", sans-serif;

$body-background-color: #fff;
$website-width: 1280px;

$primary-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$logo-color: #fff;
$bg-image: url("../IMG/showcase.jpg");
