#main-footer{
    background-color: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content{
        @include Flex(row, space-between);
        height: 5rem;
        align-items: center;

        .social-media .fab {
                margin-right: 1rem;
                border: 2px solid #fff;
                border-radius: 50%;
                height: 2.5rem;
                width: 2.5rem;
                line-height: 1.5rem;
                text-align: center;
                padding: 0.5rem;
                transition: all 1s;
            
                &:hover{
                    background-color: $primary-color;
                    cursor: pointer;
                }
            }
    }

    
}