#logo {
	width: 70px;
	height: 70px;
	color: $logo-color;
	text-transform: uppercase;
}

#header {
	&-home {
		background-image: linear-gradient(
				to bottom,
				rgba(19, 19, 19, 0.215),
				rgba(0, 0, 0, 0.592)
			),
			$bg-image;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		color: #fff;

		.header-content {
			color: #fff;
			text-align: center;
			padding: 10%;

			span {
				font-size: 3rem;
				font-weight: bold;
				line-height: 1rem;
				margin-bottom: 4rem;
			}

			h1 {
				font-size: 3rem;
				line-height: 1.2rem;
				margin-top: 2rem;
				margin-bottom: 4rem;
			}

			.lead {
				font-size: 2rem;
			}
		}
	}

	&-inner {
		background-image: linear-gradient(
				to bottom,
				rgba(19, 19, 19, 0.215),
				rgba(0, 0, 0, 0.592)
			),
			$bg-image;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 6.5rem;
		color: #fff;
		border-bottom: 3px solid $primary-color;
	}
}
