#logo {
	width: 70px;
	height: 70px;
	color: $logo-color;
	text-transform: uppercase;
}

#header {
	&-home {
		background: $bg-image;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		color: #fff;

		.header-content {
			color: #fff;
			text-align: center;
			padding: 10%;

			h1,
			span {
				font-size: 4rem;
				line-height: 1.2rem;
				margin-top: 2rem;
				margin-bottom: 4rem;
			}
		}
	}
}
