#home {
	//Section A: Specializations
	&-section-A {
		.specials {
			margin-top: 3rem;
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(4, 1fr);

			.fas {
				color: $primary-color;
				padding-bottom: 0.4rem;
			}
		}
	}

	//Section B: Stats
	&-section-B {
		.stats {
			display: grid;
			grid-template-columns: repeat(4, 1fr);

			li {
				line-height: 2;

				&.stats-title {
					font-size: 1.5rem;
				}

				&.stats-number {
					font-size: 2rem;
					font-weight: bold;
				}
			}

			div {
				padding: 3rem 0;

				&:nth-child(odd) {
					background: $light-color;
				}

				&:nth-child(even) {
					background: $medium-color;
				}
			}
		}
	}

	//Section C: Process
	&-section-C {
		.process {
			@include display-Grid(4, 1.5rem);
			text-align: center;

			&-icon {
				border-radius: 50%;
				background-color: $dark-color;
				color: #fff;
				padding: 2rem;
				width: 8.5rem;
				height: 8.5rem;
				line-height: 70px;
				text-align: center;
				position: relative;
				transition: all 1s;

				&:hover {
					background-color: $primary-color;
					width: 9rem;
					height: 9rem;

					.process-step {
						background-color: $dark-color;
					}
				}
			}

			&-step {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 1.5rem;
				background: $primary-color;
				border-radius: 50%;
				height: 3rem;
				width: 3rem;
				line-height: 15px;
				padding: 1rem;
				transition: all 1s;
			}
		}
	}
}

#about {
	//Section A: Information
	&-section-A {
		.about-info {
			display: grid;
			grid-template-areas:
				"bioimage bio bio"
				"aw1 aw2 aw3";
			gap: 1.2rem;
		}

		//Grid Areas
		.bio-image {
			grid-area: bioimage;
			border-bottom: 5px solid $primary-color;
		}

		.bio {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			justify-content: center;
			grid-area: bio;
			border-left: 3px solid $primary-color;
			padding: 0.5rem;
			font-size: 1.2rem;
		}

		.award-1 {
			grid-area: aw1;
		}

		.award-2 {
			grid-area: aw2;
		}

		.award-3 {
			grid-area: aw3;
		}

		.award-1 .fas,
		.award-2 .fas,
		.award-3 .fas {
			color: $primary-color;
			margin: 1rem;
		}
	}

	&-section-B {
		.progress {
			overflow: hidden;
			height: 2rem;
			background-color: $medium-color;
			border-radius: 5px;
			margin-bottom: 1rem;

			div {
				height: 100%;
				color: #fff;
				text-align: center;
				background-color: $primary-color;
			}
		}
	}

	&-section-C {
		.about-logos {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 2rem;

			img {
				width: 70%;
			}
		}
	}

	&-section-D {
		.testimonials {
			display: grid;
			gap: 0.5rem;
			grid-template-columns: repeat(4, 1fr);

			ul {
				list-style: none;
				margin-top: 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			p {
				border: 1px solid $medium-color;
				border-radius: 5px;
				padding: 0.5rem;
				text-align: center;
			}

			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin-right: 0.5rem;
			}
		}
	}
}

#contact {
	&-section-A {
		.text-fields {
			display: grid;
			grid-template-areas:
				"name email"
				"subject phone"
				"message message";
			gap: 1.2rem;
			margin-bottom: 1.2rem;

			//Grid Areas
			.name-input {
				grid-area: name;
			}

			.subject-input {
				grid-area: subject;
			}

			.email-input {
				grid-area: email;
			}

			.phone-input {
				grid-area: phone;
			}

			.message-input {
				grid-area: message;
				height: 100px;
			}

			.text-input {
				padding: 1rem 1.5rem;
				border: 1px solid #000;

				&:hover {
					border-color: $primary-color;
				}
			}
		}

		button[type="submit"] {
			width: 50%;
		}
	}

	&-section-B {
		.contact-info {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			text-align: center;
		}

		h3 {
			font-weight: bold;
		}
	}

	&-section-C {
		padding: 4rem 0;
		background-color: $primary-color;
		text-align: center;
		color: #333;

		h1 {
			font-weight: bold;
			font-size: 3rem;
		}
	}
}
